body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #21252b;
}
$mainColor: #21252b;
.CodeMirror {
  height: 100% !important;
}
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .main-container {
    display: flex;
    flex-grow: 1;
    .left {
      width: 250px;
      color: white;
      height: 100%;
      flex-shrink: 0;
      position: relative;
      .left-menu {
        opacity: 1;
        transition: transform 0.1s, opacity 0.3s;
      }
      &.closed {
        transform: translateX(-100%);
        width: 20px;

        .left-menu {
          opacity: 0;
          transform: translateX(-200%);
        }

        .drawer {
          right: -20px;
          //border: 1px solid red;
          &:before {
            content: "\003e";
          }
        }
      }

      //transform: translateX(0);
      transition: transform 0.3s, width 0.3s;
      .drawer {
        position: absolute;
        right: -18px;
        z-index: 20;
        top: 50%;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 20px;
        height: 100px;
        margin-top: -50px;
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        padding-right: 5px;
        box-sizing: border-box;
        align-items: center;
        &:before {
          content: "\003c";

          color: #ececec;
          font-size: 30px;
        }
        color: white;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      .header {
        height: 50px;
        background-color: #21252b;
      }
      .editors {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
      }

      flex-grow: 1;
      background-color: white;
      position: relative;

      display: flex;
      .editor-container {
        height: 100%;
      }
      .editor {
        width: 50%;
        flex-shrink: 0;
        flex-grow: 1;
        height: 100%;

        position: relative;

        .error {
          position: absolute;
          box-sizing: border-box;
          bottom: 0;

          z-index: 100;
          height: auto;
          background-color: #fef0f0;
          color: #f84c54;
          padding: 20px;
          width: 100%;
          line-height: 25px;
          font-size: 15px;
        }
      }
      .results {
        height: 100%;
        width: 50%;
      }
    }
  }
}
