/dist
node_modules
/coverage
/.nyc_output
/.rpt2_cache
/packages/*/node_modules
/packages/*/npm-debug.log
/packages/*/build
/packages/*/lib
/packages/*/coverage
/packages/*/.nyc_output
/packages/*/.rpt2_cache
package-lock.json
yarn.lock
bun.lockb
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.rollupcache
.fuzz-output
.DS_Store
/test.ts
