name: Publish Package

on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'yarn'
          cache-dependency-path: ./package.json
      - run: yarn
      - run: npm run build
      - run: npm pkg delete scripts devDependencies lint-staged
      - run: npm publish
